@import '../../variables.scss';
.wrapper {
    position: relative;
    display: flex;
    .tooltip {
        position: absolute;
        top: 115%;
        left: -80%;
        font-size: 10px;
        background-color: rgba(2, 2, 2, 0.601);
        color: #fff;
        padding: 5px;
        white-space: nowrap;
        border-radius: 5px;
    }
}