.error {
    position: absolute;
    max-width: 300px;
    top: -15%;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 3px 4px 11px 0px #ccc;
    border: 1px solid #ccc;
    .message {
        color: rgb(226, 89, 89);
        word-wrap: break-word;
    }
}
