@import '../../../variables.scss';

.btn {
    background-color: $ocean;
    color: $textColorWhite;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    transition: $fastTransition;
    position: relative;
    &:hover {
        background-color: $deepWater;
    }
    &:disabled {
        background-color: $lightGray;
        color: #ccc;
        cursor: auto;
    }
    .preloaderWrapper {
        position: absolute;
        top: 50%;
        left: 2%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
    }
}
