@import '../../../variables.scss';
.left {
    width: 50%;
    border-right: 1px solid $lightGray;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    height: calc(100vh - $headerHeight);
    @media (max-width: $mobileWidth) {
        width: 100%;
        height: calc(46vh - $headerHeightMobile);
        padding-right: 0;
        border-right: none;
        border-bottom: 1px solid $lightGray;
    }
    .title {
        margin-top: 10px;
        text-align: center;
        color: $textColor;
        @media (max-width: $mobileWidth) {
            font-size: 15px;
        }
    }
}
