@import '../../../../variables.scss';
.content {
    padding: 10px;
    position: relative;
    min-height: 250px;
    .title {
        text-align: center;
        color: $textColor;
        margin-bottom: 15px;
    }
    .back {
        position: absolute;
        top: 13px;
        left: 15px;
        color: $textColor;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
            color: $deepWater;
        }
    }
    ul {
        max-height: 250px;
        padding: 5px 10px;
        overflow: auto;
        .item {
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 2px 2px 5px 0px #c8c8c8;
            margin-bottom: 12px;
            transition: all 0.1s linear;
            &:hover {
                background-color: $lightGray;
            }
        }
        .complete {
            background-color: #d0f1da;
            transition: all 0.1s linear;
            &:hover {
                background-color: #b6dfc2;
            }
        }
        .partly {
            background-color: #f1eeba;
            transition: all 0.1s linear;
            &:hover {
                background-color: #d8d496;
            }
        }
    }
}
