@import '../../variables.scss';
.wrapper {
    display: flex;
    @media (max-width: $mobileWidth) {
        flex-direction: column;
        height: calc(100vh - $headerHeightMobile);
        position: relative;
    }
}
