@import '../../../../../../variables.scss';
.listItem {
    padding: 5px 10px 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    @media (max-width: $mobileWidth) {
        padding: 0 10px 0 20px;
    }
    &:last-child {
        border-bottom: none;
    }
    .leftGroup {
        display: flex;
        align-items: center;
        width: 100%;
        input[type='text'] {
            font-size: 14px;
            letter-spacing: normal;
            color: $deepWater;
        }
    }
    .rightGroup {
        display: flex;
        align-items: center;
        size: 20px;
        .iconWrapper {
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
            color: $wave;
            cursor: pointer;
            transition: all 0.1s linear;
            &:hover {
                color: $deepWater;
            }
            svg {
                width: 100%;
                height: 100%;
            }
        }
        .disabled {
            cursor: auto;
            color: #ccc;
            &:hover {
                color: #ccc;
            }
        }
    }
    .iconContainer {
        width: 20px;
        height: 20px;
        margin: 10px 0;
        margin-right: 20px;
        cursor: pointer;
        transition: all 0.1s linear;
        color: $wave;
        &:hover {
            color: $deepWater;
        }
        svg {
            height: 100%;
            width: 100%;
        }
    }
}
