@import '../../../variables.scss';
.rightSide {
    display: flex;
    flex-direction: column;
    height: calc(100vh - $headerHeight);
    width: 50%;
    @media (max-width: $mobileWidth) {
        height: calc(50vh - $headerHeight + 20px / 2);
        width: 100%;
    }
    .title {
        margin-top: 10px;
        text-align: center;
        color: $textColor;
        @media (max-width: $mobileWidth) {
            font-size: 15px;
        }
    }
    .exerciseList {
        margin: 20px 0;
        padding: 0 20px;
        overflow: auto;
        .exerciseItem {
            margin-bottom: 5px;
            font-size: 18px;
            color: $textColor;
            cursor: default;
        }
    }
}