@import './../../../../../variables.scss';
.list {
    ul {
        max-height: 150px;
        padding: 5px 10px;
        overflow: auto;
        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 2px 2px 5px 0px #c8c8c8;
            margin-bottom: 12px;
            transition: all 0.1s linear;
            .itemText {
            }
            .crossWrapper {
                display: flex;
                color: #ccc;
                cursor: pointer;
                transition: all 0.2s linear;
                &:hover {
                    color: $pink;
                }
            }
            &:hover {
                background-color: $lightGray;
            }
        }
    }
    p {
        margin: 30px 0;
        text-align: center;
    }
}
