@import '../../../../../variables.scss';
.exerciseList {
    margin: 15px 0;
    overflow: auto;
    padding: 10px;
    @media (max-width: $mobileWidth) {
        margin: 8px 0;
    }
    .exercise {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
        box-shadow: 0px 5px 10px 2px rgba(34, 53, 67, 0.2);
        margin-bottom: 10px;
        border-radius: 5px;
        transition: all 0.2s linear;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
            background-color: $lightGray;
        }
        .name {
            text-overflow: ellipsis;
            overflow: hidden;
            margin-right: 10px;
        }
        .settingsBlock {
            display: flex;
            .itemWrapper {
                width: 18px;
                height: 18px;
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
                .settingItem {
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    fill: $seaFoam;
                    transition: all 0.2s linear;
                    &:hover {
                        fill: $deepWater;
                    }
                }
            }
        }
    }
    .active {
        box-shadow: 3px 3px 6px 0px #000;
    }
}
