@import '../../../variables.scss';
.btnOutline {
    padding: 10px;
    border: 1px solid $lightGray;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all .2s linear;
    margin-right: 5px;
    &:hover {
        border: 1px solid $darkGray;
    }
    @media (max-width: $mobileWidth) {
        font-size: 12px;
        padding: 5px;
    }
}