@import '../../variables.scss';
.modale {
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: 400px;
    z-index: 2;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 12px 0 #959595;
    animation: 0.3s ease-in-out slidein;
    @media (max-width: $mobileWidth) {
        animation: 0.3s ease-in-out slideinMobile;
        top: auto !important;
        left: auto !important;
        bottom: 2% !important;
        width: 95% !important;
    }
}

@keyframes slidein {
    from {
        opacity: 0;
        // top: 25%;
    }
    to {
        opacity: 1;
        // top: 50%;
    }
}

@keyframes slideinMobile {
    from {
        opacity: 0;
        // bottom: 25%;
    }
    to {
        opacity: 1;
        // bottom: 2%;
    }
}
