@import '../../../variables.scss';
.userSettings {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    min-width: 150px;
    top: calc($headerHeightMobile + 10px);
    right: 2%;
    max-width: 200px;
    opacity: 0;
    box-shadow: 2px 2px 10px 1px $shadowColor;
    padding: 10px;
    border-radius: 5px;
    background-color: $white;
    z-index: 0;
    transition: all 0.2s linear;
    @media (min-width: $tabletWidth) {
        top: calc($headerHeight + 10px);
    }
    .loggedInText {
        padding-left: 5px;
    }
    .email {
        max-width: 180px;
        border-bottom: 1px solid $lightGray;
        padding-bottom: 10px;
        margin-bottom: 10px;
        white-space: nowrap; /* Текст не переносится */
        overflow: hidden; /* Обрезаем всё за пределами блока */
        text-overflow: ellipsis; /* Добавляем многоточие */
        padding-left: 5px;
    }
    ul {
        width: 100%;
        li {
            button {
                width: 100%;
                text-align: start;
            }
        }
    }
}
.active {
    opacity: 1;
    z-index: 2001;
}
