@import '../../../variables.scss';

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 10px;
    overflow: auto;
    .content {
        overflow: auto;
        margin: 15px 0;
    }
    // @media (max-width: $mobileWidth) {
    //     button {
    //         position: absolute;
    //         bottom: 0;
    //         left: 50%;
    //         transform: translate(-50%);
    //         padding: 5px 10px;
    //         width: 90%;
    //     }
    // }
    .btnWrapper {
        text-align: center;
    }
}
