@import '../../../variables.scss';

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 10px;
    overflow: auto;
    .content {
        overflow: auto;
        margin: 15px 0;
    }
    @media (max-width: $mobileWidth) {
        button {
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translate(-50%);
            width: 100%;
        }
    }
    .btnWrapper {
        text-align: center;
    }
}
