@import '../../variables.scss';
.loginWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $lightGray;
    background-image: url(../../assets/img/background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .form {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 400px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        margin: 0 15px;
        box-shadow: 3px 4px 11px 0px #ccc;
        h2 {
            text-align: center;
            margin-bottom: 10px;
        }
        .inputWrapper {
            margin-bottom: 10px;
            .block {
                display: flex;
                flex-direction: column;
                align-items: center;
                .signInWithGoogle {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding: 8px;
                    box-shadow: 2px 2px 5px 1px #ccc;
                    margin: 8px 0;
                    transition: all 0.1s linear;
                    background-color: #fff;
                    border-radius: 5px;
                    span {
                        margin-left: 10px;
                    }
                    &:hover {
                        background-color: $lightGray;
                    }
                }
                a {
                    padding: 8px;
                    box-shadow: 2px 2px 5px 1px #ccc;
                    text-decoration: none;
                    color: inherit;
                    margin: 8px 0;
                    transition: all 0.1s linear;
                    background-color: #fff;
                    border-radius: 5px;
                    &:hover {
                        background-color: $lightGray;
                    }
                }
            }
        }
    }
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 79%);
}
