@import '../../../variables.scss';
.btn {
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    border: none;
    transition: $fastTransition;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $textColor;
    &:hover {
        background-color: $lightGray;
    }
    @media (max-width: $tabletWidth) {
        margin-right: 0;
    }
}