@import '../../variables.scss';
.registerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $lightGray;
    .form {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 400px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        margin: 0 15px;
        box-shadow: 3px 4px 11px 0px #ccc;
        h2 {
            text-align: center;
            margin-bottom: 10px;
        }
        .inputWrapper {
            margin-bottom: 20px;
            .block {
                display: flex;
                flex-direction: column;
                align-items: center;
                a {
                    padding: 8px;
                    box-shadow: 2px 2px 5px 1px #ccc;
                    text-decoration: none;
                    color: inherit;
                    margin: 8px 0;
                    transition: all .1s linear;
                    background-color: #fff;
                    min-width: 100px;
                    text-align: center;
                    &:hover {
                        background-color: $lightGray;
                    }
                }
            }
        }
    }
}