.ldsDualRing {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.ldsDualRing:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid rgb(80, 80, 80);
    border-color: rgb(80, 80, 80) transparent rgb(80, 80, 80) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
