@import '../../../variables.scss';
.user {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    img {
        border-radius: 50%;
    }
    @media (max-width: $tabletWidth) {
        width: 35px;
        height: 35px;
    }
}
