@import '../../../variables.scss';

.list {
    margin: 20px 0;
    overflow: auto;
    padding: 10px;
    p {
        text-align: center;
        font-size: 15px;
        margin-top: 30px;
    }
    .item {
        border-radius: 5px;
        padding: 10px;
        box-shadow: 3px 3px 6px 0px #c8c8c8;
        margin-bottom: 10px;
        cursor: pointer;
    }
}
