@import '../../variables.scss';
.wrapper {
    border: 1px solid $borderColor;
    height: calc(((100vh - $headerHeight - $calendarHeaderHeight) - 10px) / 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s linear;
    &:hover {
        background-color: $lightGray;
    }
    @media (max-width: $tabletWidth) {
        padding: 2px;
        height: calc((100vw - 40px) / 6);
    }
}
.dayHeader {
    display: flex;
    flex-direction: column;
    @media (max-width: $mobileWidth) {
        flex-direction: row;
    }
    .dayWeek {
        @media (max-width: $tabletWidth) {
            font-size: 10px;
            margin-right: 0;
        }
        @media (max-width: $mobileWidth) {
            margin-right: 10px;
        }
    }
    .number {
        margin-bottom: 5px;
        @media (max-width: $tabletWidth) {
            font-size: 10px;
            margin: 0;
        }
    }
}

.workoutList {
    overflow: auto;
    width: 100%;
    .workout {
        font-size: 12px;
        color: $white;
        font-weight: 600;
        background-color: $wave;
        padding: 2px 5px;
        border-radius: 3px;
        white-space: nowrap; /* Текст не переносится */
        overflow: hidden; /* Обрезаем всё за пределами блока */
        text-overflow: ellipsis; /* Добавляем многоточие */
        width: 100%;
        margin-bottom: 5px;
        transition: all 0.1s linear;
        cursor: pointer;
        &:hover {
            background-color: $ocean;
        }
        @media (max-width: $mobileWidth) {
            font-size: 9px;
            padding: 0 3px;
        }
    }
    .disabled {
        background-color: #9d9d9d;
        cursor: auto;
        &:hover {
            background-color: #9d9d9d;
        }
    }
}
.currentDay {
    border: 2px solid $pink;
}
.selected {
    background-color: $borderColor;
}
// .darkned {
//     background-color: $color4;
// }
.dayOfTheLastMonth {
    background: repeating-linear-gradient(-45deg, #fff, #fff 20px, $lightGray 22px, $lightGray 10px);
    color: #9d9d9d;
    cursor: auto;
}
