@import '../../variables.scss';
.wrapper {
    display: flex;
    @media (max-width: $mobileWidth) {
        flex-direction: column;
        height: calc(100vh - $headerHeight);
    }
    .leftSide {
        width: 50%;
        border-right: 1px solid $lightGray;
        display: flex;
        flex-direction: column;
        padding-right: 15px;
        height: calc(100vh - $headerHeight);
        @media (max-width: $mobileWidth) {
            width: 100%;
            height: calc(50vh - $headerHeight - ($topMenuMobile / 2) + 20px / 2);
            padding-right: 0;
            border-right: none;
            border-bottom: 1px solid $lightGray;
        }
        .title {
            margin-top: 10px;
            text-align: center;
            @media (max-width: $mobileWidth) {
                display: none;
            }
        }
        @media (max-width: $mobileWidth) {
            form {
                button {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%);
                }
            }
        }
    }
    .rightSide {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: calc(100vh - $headerHeight);
        @media (max-width: $mobileWidth) {
            width: 100%;
            height: calc(50vh - $headerHeight - ($topMenuMobile / 2) + 20px / 2);
        }
        .title {
            margin-top: 10px;
            text-align: center;
            @media (max-width: $mobileWidth) {
                font-size: 15px;
                margin-top: 0;
            }
        }
        .block {
            margin: 15px 0;
            overflow: auto;
            @media (max-width: $mobileWidth) {
                margin: 8px 0;
            }
            .content {
                padding: 15px;
                height: 100%;
                @media (max-width: $mobileWidth) {
                    padding: 0 15px 0 0;
                }
            }
        }
    }
}