@import '../../../variables.scss';
.tableWrapper {
    overflow: auto;
    table {
        font-size: 14px;
        border-collapse: collapse;
        text-align: center;
        max-width: 60%;
        margin: 0 auto;
        box-shadow: 0 0 10px 2px #ccc;
        th {
            background: $wave;
            padding: 10px 20px;
        }
        th,
        td {
            border-style: solid;
            border-width: 0 1px 1px 0;
            border-color: white;
        }
        td {
            background: $lightGray;
            padding: 10px;
        }
        .underline {
            border-bottom: 2px solid rgb(114, 114, 114);
        }
    }
}
