@import '../../../../variables.scss';
.content {
    padding: 10px;
    position: relative;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .topBlock {
        .title {
            color: $textColor;
            text-align: center;
            margin-bottom: 15px;
        }
        .noWorkout {
            text-align: center;
            margin-top: 25px;
        }
        .back {
            position: absolute;
            top: 13px;
            left: 15px;
            color: $textColor;
            cursor: pointer;
            transition: all 0.2s linear;
            &:hover {
                color: $ocean;
            }
        }
        .workoutList {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 150px;
            overflow: auto;
            .workoutItem {
                display: flex;
                justify-content: space-between;
                padding: 5px;
                border-radius: 5px;
                margin: 5px 0;
                width: 95%;
                min-height: 30px;
                white-space: nowrap; /* Текст не переносится */
                overflow: hidden; /* Обрезаем всё за пределами блока */
                text-overflow: ellipsis; /* Добавляем многоточие */
                background-color: #fff;
                box-shadow: 2px 2px 5px 0 #c8c8c8;
                cursor: pointer;
                transition: all 0.1s linear;
            }
            .activeWorkout {
                background-color: $seaFoam;
                // color: $textColorWhite;
            }
        }
    }
    .botBlock {
        display: flex;
        flex-direction: column;
        .selectGroup {
            display: flex;
            ul {
                max-height: 150px;
            }
        }
    }
}
