$lightGray: rgb(233, 233, 233);
$darkGray: rgb(111, 111, 111);
$textColor: rgb(33, 33, 33);
$shadowColor: #c8c8c8;

$deepWater: #003B46;
$ocean: #07575B;
$wave: #66A5AD;
$seaFoam: #C4DFE6;


$white: #fff;
$black: #000;


$fastTransition: all .1s ease-in-out;

$tabletWidth: 800px;
$mobileWidth: 550px;

$headerHeight: 60px;
$calendarHeaderHeight: 100px