$lightGray: #f1f3f4;
$darkGray: rgb(111, 111, 111);
$textColor: rgb(33, 33, 33);
$textColorWhite: rgb(247, 247, 247);
$shadowColor: #c8c8c8;

$deepWater: #003b46;
$ocean: #07575b;
$wave: #87b6bc;
$seaFoam: #c4dfe6;

$white: #fff;
$black: #000;
$pink: rgb(208, 92, 92);
$DarkPink: rgb(168, 73, 73);
$borderColor: #dadce0;

$fastTransition: all 0.1s ease-in-out;

$tabletWidth: 800px;
$mobileWidth: 550px;

$headerHeight: 60px;
$headerHeightMobile: 40px;
$calendarHeaderHeight: 75px;
$calendarHeaderHeightMobile: 100px;
