@import '../../variables.scss';

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, minmax(40px, 1fr));
    // margin: 15px;
    border: 0.5px solid $borderColor;
    box-shadow: 0 0 14px 0px #d4d4d4
}
